{% extends 'base.html.twig' %}

{% block title %}Edit list | Web library{% endblock %}

{% block body %}
    <h2>Выберите книгу для редактирования:</h2>
    <ul class="list-group list-group-flush">
    {% for book in books %}
       <li class="list-group-item"><a href="{{ path('edit_book', {'slug': book.slug}) }}">{{ book.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}